*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
body{
  text-align: center;
  width:960px;
  margin-left:auto;
  margin-right:auto;

}
.MainGroup{
  margin:50px auto;
}
.typeA p{
  text-align:left;
  padding:20px;
  color:gray;
  
}
.typeA:nth-child(odd){
  background-color:#eeeeee;
}
.typeA:nth-child(even){
  background-color:lightgray;
}

.typeB{
  width:30%;
  height:200px;
  margin-right:5%;
  background-color:yellow;
  float:left;
  margin-bottom:40px;
}
.typeB:nth-child(3n){
  margin-right: 0%
}
.typeB:nth-last-child(-n+3){
  margin-bottom:0;
}
.typeB:first-child,.typeB:nth-child(5),.typeB:last-child{
  background-color: orange;
}
.typeBGroup{
  margin-top: 50px;
  margin-bottom: 50px;
}